/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Responsive Background */
.bg
 {
    background-image: url('./Images/bg/bg.jpg'); /* Update the path as needed */
    background-repeat: no-repeat;
    background-size: cover; /* Ensures image covers the screen */
    background-position: center; /* Centers the image */
    height:100vh;
    
}

#navli>li
{
    margin-left:40px ;
}

#names
{
    position: absolute;
    top: 250px;
}


.myname
{
font-size: 65px;
}